<div class="contact-container">

    <div class="social-container">
        <h1>&lt;Contact Me /&gt;</h1>
        <div >
            <p class="container-text"> I'm ready to tackle new challenges ! Whether you have a project in mind or to
                discuss collaboration,
                I'd love to hear from you. Please feel free to reach out using the contact information below: </p>
        </div>
        <form class="input-container">


            <div class="pair-container">
            <label for="">Email :</label>
            <input type="email" required>
            </div>


            <div class="pair-container">
            <label for="">Subject :</label>
            <input type="text">
            </div>



            <div class="pair-container">
                <label for="">Content: </label>
                <textarea class="content-input" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            </div>



        </form>
    </div>
</div>