<div class="contact-container">
    
    <h1>&lt;Contact Me  /&gt;</h1>
    <div class="social-container">
        <div class="container-text">
           <p class="container-text"> I'm ready to tackle new challenges !  Whether you have a project in mind or to discuss collaboration, 
            I'd love to hear from you. Please feel free to reach out using the contact information below: </p>
        </div>
        <ul>
            <li><a href="https://www.linkedin.com/in/oumaima-bakri-b637772a0/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/oumaima-bkr"><i class="fa-brands fa-github-alt"></i></a></li>
            <li><a routerLink="projects" ><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="mailto:oumaima.bakri08@gmail.com" class="email"><i class="fa-regular fa-envelope"></i></a></li>
        </ul>
    </div>
</div>