<div class="about-container">

    
    <div class="descreption-container">
        <h1>&lt;About &gt;</h1>
        <p>
            Welcome to my digital space!
        </p>
        <p>
            As a passionate software engineer, I take joy in the harmonious interplay of code.
            My journey in the software realm has been an exhilarating exploration, navigating through various
            <span><a routerLink="projects"> projects</a></span> and acquiring a diverse <span><a routerLink="skills">skill</a></span> set.
        </p>
        <p>
            Each line of code represents a step in my ongoing quest for knowledge.
            My enthusiasm extends from mastering established languages to embracing cutting-edge frameworks.
            Each experience forms a chapter in the unfolding story of my growth as a software engineer.
        </p>
        <p>
            Feel free to get in touch through my <span><a routerLink="contact">contact</a></span> page.
            I look forward to connecting and exploring new possibilities together!
        </p>

        <h1>&lt;/About&gt;</h1>
    </div>
   

</div>