<div class="container">
 
    <div class="navBar-container" *ngIf="activerNavBar">
    </div>

    

    <div class="content-container">
        <div class="sideBar-container">
            <nav class="vertical-navSocial" *ngIf="activerSocialNavBar">
                <ul>
                    <li><a href="https://www.linkedin.com/in/oumaima-bakri-b637772a0/"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/oumaima-bkr"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a routerLink="projects" (click)="activated()"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a ><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="mailto:oumaima.bakri08@gmail.com" class="email"><i class="fa-regular fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="page-container">
            <router-outlet></router-outlet>
        </div>

        <div class="sideBar-container2">
            <nav class="vertical-nav">
                <ul>
                    <li><a routerLink="about" (click)="activated()">About</a></li>
                    <li><a routerLink="skills" (click)="activated()">Skills</a></li>
                    <li><a routerLink="projects" (click)="activated()">Projects</a></li>
                    <li><a routerLink="resume" (click)="activated()">Resume</a></li>
                    <li><a routerLink="contact" (click)="activated()">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    
        
</div>